.card {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #a8a6a6;
  transition: box-shadow 1s ease;
  &:hover {
    box-shadow: inset 0 2px 2px #9c9a9a;
  }
}
